<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Account Activation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
	<body ng-controller="userActivate">
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/signin">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				Account activation
			</div>
		</header>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen">
			<div id="screen-container">
				<div class="form" ng-show="validation.success">
					<div class="description">Account activated</div>
					<div class="context">
						Congratulations, you are now officially a Fitletics Coach member. Sign in to start your very first workout.
					</div>
				</div>

				<div class="form" ng-show="validation.error">
					<div class="description">Activation error</div>
					<div class="context">
						Oops... something went wrong. Are you sure about that token ?
					</div>
				</div>
			</div>
		</div>
		<!-- END Screen -->

		<script src="/public/controllers/user.js" app-host="[[ host ]]" app-port="[[ port ]]"></script>
	</body>
</html>
