<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Coach</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
	</head>
  <body>
		<!-- Navigation -->
		<section>
			<header id="navigation">
				<div class="item">
					<a href="/dashboard">
						<span class="fa fa-fw fa-arrow-left"></span>
					</a>
				</div>
				<div class="item">
					Coach
				</div>
			</header>
		</section>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen">
			<div id="screen-container">
				<div id="coach">
					<div class="form">
						<div class="description">This feature will be available soon...</div>
          </div>
	      </div>
			</div>
		</div>
		<!-- END Screen -->
	</body>
</html>
