<!DOCTYPE html>
{{=[[ ]]=}}
<html>
	<head>
		<title>Dashboard</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
	<body>
		<!-- Navigation -->
		<section>
			<header id="navigation">
				<div class="item">
					<a href="/dashboard">
						<span class="fa fa-fw fa-bolt"></span>
					</a>
				</div>
				<div class="item">
					Dashboard
				</div>
				<div class="item">
					<a href="/user/profile">
						<span class="fa fa-fw fa-user"></span>
					</a>
				</div>
			</header>
		</section>
		<!-- END Navigation -->

		<!-- Apps list -->
		<div id="screen">
			<div id="dashboard">
				<a href="/workout">
					<div class="layer layer-workouts">
						<div class="layer-content">
							<h2>Workouts</h2>
							<p>Predefined workouts for every level</p>
						</div>
					</div>
				</a>
				<a href="/exercise">
					<div class="layer layer-individuals">
						<div class="layer-content">
							<h2>Individual Exercises</h2>
							<p>Target spectific muscles</p>
						</div>
					</div>
				</a>
				<a href="/coach">
					<div class="layer layer-coach">
						<div class="layer-content">
							<h2>Coach</h2>
							<p>Generate a new radom workout</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- Apps list -->
	</body>
</html>
