<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>MyApp Home</title>

    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" media="only screen and (max-width: 600px)" href="/public/stylesheets/xs-screen.css" type="text/css" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
  <body ng-controller="exerciseLive">
		<div style="position: absolute; z-index: 10; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background: rgba(0, 0, 0, 0.8);" ng-show="state.giveup == true">
			<div style="padding: 10px; width: 100%;">
				<div style="background: white; padding: 25px 15px;">
					<div style="margin-bottom: 5px; font-size: 17px; font-weight: bold;">Giving up is not an option.</div>
					<div style="margin-bottom: 25px; font-size: 15px;">Are you sure you want to cancel this training ?</div>
					<div style="text-align: right;">
						<a ng-click="state.giveup = false" style="color: #3B7FF1; font-size: 15px; margin: 0px 10px;">NO</a>
						<a href="/exercise/{{ exercise.name.toLowerCase() }}/preview" style="color: #3B7FF1; font-size: 15px; margin: 0px 10px;">YES I AM A LOSER</a>
					</div>
				</div>
			</div>
		</div>

		<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 180px;">
			<div style="display: flex; justify-content: space-between; align-items: center; color: white; font-size: 18px; padding: 0px 15px; height: 50px;">
				<div>
					<a ng-click="state.giveup = true" style="color: white;">
						<span class="fa fa-fw fa-times"></span>
					</a>
				</div>
				<div>
					{{ exercise.name }}
				</div>
				<div>
					<a ng-click="state.toggleFullscreen()" style="color: white;">
						<span class="fa fa-fw fa-compress" ng-show="state.fullscreen"></span>
						<span class="fa fa-fw fa-expand" ng-show="!state.fullscreen"></span>
					</a>
				</div>
			</div>
			<div style="height: 130px; display: flex; align-items: center; justify-content: center; font-size: 60px; color: white;">
				{{ timer.timer }}
			</div>
		</div>

		<div style="position: absolute; top: 180px; left: 0px; width: 100%; height: calc(100% - 230px); overflow-y: auto;">
			<div style="padding: 15px;">
				<!-- Current exercice -->
				<div style="margin-bottom: 25px;" ng-hide="state.state == 'finished'">
					<div style="color: white; font-size: 14px; margin-bottom: 15px;">
						Exercise
					</div>
					<div style="display: flex; align-items: center;">
						<div style="width: 50px; margin-right: 15px;">
							<img src="http://img.app-liv.jp.s3.amazonaws.com/icon/654810212/a2e9fc63ac821569853c1604232a718c.png" style="width: 100%; display: block; border-radius: 6px;" />
						</div>
						<div style="color: white; font-size: 16px;">
							{{ exercise.volume }}x {{ exercise.name }}
						</div>
					</div>
				</div>
				<!-- Current exercice -->

				<div style="margin-bottom: 25px;" ng-show="state.state == 'finished'">
					<div style="color: white; font-size: 16px; text-align: center;">
						Congratulations ! Click the finish button to terminate your session.
					</div>
				</div>

			</div>
		</div>

		<div style="position: absolute; bottom: 0px; left: 0px; width: 100%; height: 50px; display: flex; align-items: center; justify-content: center; font-size: 16px; color: white; background: #3B7FF1;" ng-click="state.update()">
			{{ buttonText }}
		</div>

		<script>
		(function() {
			var app = angular.module('my-app', ['ngCookies']);

			app.controller('exerciseLive', function($scope, $interval, $window, $location, $http) {
				var url = $location.absUrl().split('/');
				var volume = url[url.length - 1];
				var id = url[url.length - 3];

				$scope.exercise = {
					name: '',
					volume: volume
				};

				$scope.state = {
					giveup: false
				};

				$scope.timer = {
					counter: 0,
					timer: '00:00',
					handle: null,
					updateHMS() {
						var self = this;
						var sec_num = parseInt(self.counter, 10);
						var hours = Math.floor(sec_num / 3600);
						var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
						var seconds = sec_num - (hours * 3600) - (minutes * 60);

						if (hours < 10)
							hours = '0' + hours;
						if (minutes < 10)
							minutes = '0' + minutes;
						if (seconds < 10)
							seconds = '0' + seconds;
						if (hours == 0)
							self.timer = minutes + ':' + seconds;
						else
							self.timer = hours + ':' + minutes + ':' + seconds;
					},
					start() {
						var self = this;

						if (self.handle)
							return ;
						self.timer = '00:00';
						self.handle = $interval(function() {
							self.counter += 1;
							self.updateHMS();
						}, 1000);
					},
					stop() {
						var self = this;

						$interval.cancel(self.handle);
						self.handle = null;
						self.counter = 0;
					}
				};

				$scope.buttonText = 'Start';

				$scope.state = {
					state: 'waiting',
					giveup: false,
					fullscreen: false,
					update() {
						var self = this;

						if (self.state == 'waiting') {
							$scope.timer.start();
							$scope.buttonText = 'Finish';
							self.state = 'ongoing';
						} else if (self.state == 'ongoing') {
							$scope.timer.stop();
							$window.location.href = '/exercise/';
						}
					},
					toggleFullscreen() {
						console.log('toggleFullscreen');
						var self = this;

						document.documentElement.requestFullscreen = document.documentElement.requestFullscreen || document.documentElement.webkitRequestFullScreen || document.documentElement.mozRequestFullScreen || document.documentElement.msRequestFullscreen;
						document.exitFullscreen = document.exitFullscreen || document.webkitExitFullscreen || document.mozExitFullscreen || document.msExitFullscreen;

						if (self.fullscreen == true) {
							document.exitFullscreen(document);
							self.fullscreen = false;
						} else {
							document.documentElement.requestFullscreen(document.documentElement);
							self.fullscreen = true;
						}
					}
				};

				$http({
					method: 'POST',
					url: 'http://192.168.1.26:3000/api/exercise/read/' + id
				})
				.then(result => {
					console.log(result);
					$scope.exercise.name = result.data.name;
				})
				.catch(error => console.error(error));
			});
		})();
		</script>
	</body>
</html>
