<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Exercise Preview</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
  <body ng-controller="exercisePreview">
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/exercise">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				{{ exercise.name }}
			</div>
		</header>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen-cropped">
			<div id="screen-container">
				<div id="exercise-preview">
					<div class="points">
						{{ exercise.points * volume }} points
					</div>
					<div class="title">
						Enter the number of repetitions you aim and hit the start button.
					</div>
					<div class="volume">
						<input type="text" placeholder="Number of repetitions" ng-model="volume" />
					</div>
				</div>
			</div>
		</div>
		<!-- END Screen -->

		<!-- Footer -->
		<footer id="footer">
			<button ng-click="start()">Start exercise</button>
		</footer>
		<!-- END Footer -->

		<script src="/public/controllers/exercise.js"></script>
	</body>
</html>
