<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Individual Exercices</title>

    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
  <body ng-controller="exerciseList">
		<!-- Navigation -->
		<section>
			<header id="navigation">
				<div class="item">
					<a href="/dashboard">
						<span class="fa fa-fw fa-arrow-left"></span>
					</a>
				</div>
				<div class="item">
					Individual Exercices
				</div>
			</header>
		</section>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen">
			<div id="screen-container">
				<div id="exercises">
					<div ng-repeat="exercise in exercises">
						<a href="/exercise/{{ exercise.id }}/preview" style="color: white; text-decoration: none;">
							<div class="layer">
								<div class="layer-thumbnail">
									<img src="/public/images/logo.png" style="width: 100%; display: block; border-radius: 6px;" />
								</div>
								<div class="layer-infos">
									{{ exercise.name }}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Screen -->

		<script src="/public/controllers/exercise.js"></script>
	</body>
</html>
