<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Fitletics Reset Password</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" />
		<link rel="stylesheet" href="/public/stylesheets/unlogged.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
	<body>
		<section ng-controller="userMenu">
			<!-- Navigation -->
			<header id="navigation">
				<div class="item">
					<a href="/">
						<span class="fa fa-fw fa-circle-o-notch"></span>
					</a>
				</div>
				<div class="item title">
					Fitletics
				</div>
				<div class="item" ng-click="menu.toggle()">
					<span class="fa fa-fw" ng-class="{'fa-bars': !menu.display, 'fa-times': menu.display}"></span>
				</div>
			</header>
			<!-- END Navigation -->

			<!-- Side menu -->
			<aside id="menu" ng-show="menu.display">
				<ul>
					<ul>
						<a href="/signin">
							<li>Sign in</li>
						</a>
						<a href="/signup">
							<li>Sign up</li>
						</a>
						<a href="/reset">
							<li>Reset password</li>
						</a>
					</ul>
				</ul>
			</aside>
			<!-- END Side menu -->
		</section>

		<!-- Reset section -->
		<section ng-controller="userReset">
			<div id="popup" ng-show="validation.display">
				<div class="container">
					<div class="content">
						<h4>{{ validation.title }}</h4>
						<p>{{ validation.context }}</p>
						<div class="txt-right">
							<a ng-click="validation.display = false">OK</a>
						</div>
					</div>
				</div>
			</div>

			<div id="screen">
				<div class="container">
					<div class="form">
						<form ng-submit="reset()">
							<input type="email" placeholder="Email address" ng-model="user.email" />
							<input type="submit" value="Reset password" />
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- END Reset section -->

		<script src="/public/controllers/user.js"></script>
	</body>
</html>
