<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Account Informations</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
	<body ng-controller="userUpdate">
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/user/profile">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				Account Informations
			</div>
		</header>
		<!-- END Navigation -->

		<div id="popup" ng-show="validation.display">
			<div class="container">
				<div class="content">
					<h4>{{ validation.title }}</h4>
					<p>{{ validation.context }}</p>
					<div class="txt-right">
						<a ng-click="validation.display = false">OK</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Screen -->
		<div id="screen">
			<div id="screen-container">
				<div class="form">
					<div class="description">Edit your personal account informations.</div>
					<form ng-submit="update()">
						<div class="row">
							<div class="label">First name</div>
							<div class="input"><input type="text" placeholder="First name" ng-model="user.firstName" class="input-settings" /></div>
						</div>
						<div class="row">
							<div class="label">Last name</div>
							<div class="input"><input type="text" placeholder="Last name" ng-model="user.lastName" class="input-settings" /></div>
						</div>
						<div class="row">
							<div class="label">Username</div>
							<div class="input"><input type="text" placeholder="Username" ng-model="user.username" class="input-settings" /></div>
						</div>
						<div class="row">
							<div class="label">Email address</div>
							<div class="input"><input type="email" placeholder="Email address" ng-model="user.email" class="input-settings" /></div>
						</div>
						<div class="row">
							<div class="label">Password</div>
							<div class="input"><input type="password" placeholder="Password" ng-model="user.password" class="input-settings" /></div>
						</div>
						<div class="row">
							<input type="submit" value="Update informations" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END Screen -->

		<script src="/public/controllers/user.js"></script>
	</body>
</html>
