<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Create An Account</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" />
		<link rel="stylesheet" href="/public/stylesheets/unlogged.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
	<body>
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				Create an account
			</div>
		</header>
		<!-- END Navigation -->

		<!-- Signup section -->
		<section ng-controller="userSignup">
			<!-- Popup -->
			<div id="popup" ng-show="validation.display">
				<div class="container">
					<div class="content">
						<h4>{{ validation.title }}</h4>
						<p>{{ validation.context }}</p>
						<div class="txt-right">
							<a ng-click="validation.display = false">OK</a>
						</div>
					</div>
				</div>
			</div>
			<!-- END Popup -->

			<!-- Screen -->
			<div id="screen">
				<div id="screen-container">
					<div class="form">
						<div class="description">Create a new Fitletics account and start you training today !</div>
						<form ng-submit="form.submit()">
							<div class="row">
								<div class="label">First name</div>
								<div class="input"><input type="text" placeholder="First name" ng-model="form.datas.firstName" /></div>
							</div>
							<div class="row">
								<div class="label">Last name</div>
								<div class="input"><input type="text" placeholder="Last name" ng-model="form.datas.lastName" /></div>
							</div>
							<div class="row">
								<div class="label">Username</div>
								<div class="input"><input type="text" placeholder="Username" ng-model="form.datas.username" /></div>
							</div>
							<div class="row">
								<div class="label">Email address</div>
								<div class="input"><input type="email" placeholder="Email address" ng-model="form.datas.email" /></div>
							</div>
							<div class="row">
								<div class="label">Password</div>
								<div class="input"><input type="password" placeholder="Password" ng-model="form.datas.password" /></div>
							</div>
							<div class="row">
								<input type="submit" value="Create my account" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- END Screen -->
		</section>
		<!-- END Signup section -->

		<script src="/public/controllers/user.js"></script>
	</body>
</html>
