<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Sign Out</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
	<body ng-controller="userSignout">
		<script src="/public/controllers/user.js" app-host="[[ host ]]" app-port="[[ port ]]"></script>
	</body>
</html>
