<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>User Profile</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
	<body ng-controller="userProfile">
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/dashboard">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				Profile
			</div>
			<div class="item">
				<a href="/user/settings">
					<span class="fa fa-fw fa-cogs"></span>
				</a>
			</div>
		</header>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen">
			<div id="screen-container">
				<!-- Logo -->
				<div id="profile-logo">
					<img src="/public/images/logo.png" />
				</div>
				<!-- END Logo -->

				<!-- Statistics -->
				<div id="profile-statistics">
					<div class="item">
						<div class="number">{{ countTrainings }}</div>
						<div class="caption">Trainings</div>
					</div>
				</div>
				<!-- END Statistics -->

				<!-- Trainings -->
				<div id="profile-trainings" ng-repeat="training in trainings">
					<a href="/{{ training.type.toLowerCase() }}/{{ training.id }}/preview">
						<div class="container">
							<div class="header">
								<div>{{ training.type }}</div>
								<div>{{ training.date }}</div>
							</div>
							<div class="body" style="">
								<div>{{ training.name }}</div>
								<div>{{ training.volume }}x</div>
							</div>
						</div>
					</a>
				</div>
				<!-- END Trainings -->
			</div>
		</div>
		<!-- END Screen -->

		<script src="/public/controllers/user.js"></script>
	</body>
</html>
