<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Account Settings</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
	</head>
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/user/profile">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				Account Settings
			</div>
		</header>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen">
			<div id="screen-container">
				<div id="settings-menu">
					<div class="container">
						<div class="logo">
							<span class="fa fa-fw fa-bars"></span>
						</div>
						<div class="content">
							<a href="/user/update/profile">
								<div class="title">Profile</div>
								<div class="caption">Update your personal informations</div>
							</a>
						</div>
					</div>
					<div class="container">
						<div class="logo">
							<span class="fa fa-fw fa-lock"></span>
						</div>
						<div class="content">
							<a href="/user/update/password">
								<div class="title">Password</div>
								<div class="caption">Change your current password</div>
							</a>
						</div>
					</div>
					<div class="container">
						<div class="logo">
							<span class="fa fa-fw fa-arrow-right"></span>
						</div>
						<div class="content">
							<a href="/signout">
								<div class="title">Logout</div>
								<div class="caption">Terminate this session</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Screen -->
	</body>
</html>
