<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Account Settings</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script> -->
	</head>
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/user/profile">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				Account Settings
			</div>
		</header>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen">
			<div id="screen-container">
				<a href="/user/update/profile">Update profile</a>
				<a href="/user/update/password">Update password</a>
			</div>
		</div>
		<!-- END Screen -->
	</body>
</html>
