<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="my-app">
	<head>
		<title>Workout Preview</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/public/stylesheets/common.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/logged.css" type="text/css" />
		<link rel="icon" href="/public/images/favicon.png" type="image/png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
	</head>
  <body ng-controller="workoutPreview">
		<!-- Navigation -->
		<header id="navigation">
			<div class="item">
				<a href="/workout">
					<span class="fa fa-fw fa-arrow-left"></span>
				</a>
			</div>
			<div class="item">
				{{ workout.name }}
			</div>
		</header>
		<!-- END Navigation -->

		<!-- Screen -->
		<div id="screen-cropped">
			<div id="screen-container">
				<!-- Chart -->
				<div id="training-chart">
					<div class="round" ng-repeat="round in workout.rounds">
						<div class="bar" ng-repeat="exercise in round" style="height: {{ exercise.volume * barchart.maxHeight / barchart.maxVolume }}px; background: #3B7FF1;">&nbsp;</div>
					</div>
				</div>
				<!-- END Chart -->

				<!-- Preview -->
	      <div id="workout-preview">
	        <div class="layer" ng-repeat="round in workout.rounds">
						<div class="title">Round {{ $index + 1 }}</div>
						<div class="content" ng-repeat="exercice in round">
							<div class="thumbnail">
								<img src="/public/images/logo.png" />
							</div>
							<div class="volume">
								{{ exercice.volume }}x {{ exercice.name }}
							</div>
						</div>
	        </div>
	      </div>
				<!-- END Preview -->
			</div>
		</div>
		<!-- END Screen -->

		<!-- Footer -->
		<footer id="footer">
			<button ng-click="start()">Start workout</button>
		</footer>
		<!-- END Footer -->

		<script src="/public/controllers/workout.js" app-host="[[ host ]]" app-port="[[ port ]]"></script>
	</body>
</html>
