<!DOCTYPE html>
<html>
	<head>
		<title>Fitletics</title>
		<link rel="stylesheet" href="css/login.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body>
		<div id="page">
			<div id="page-content">
				<div id="page-logo">
					<span class="fa fa-fw fa-circle-o-notch"></span>
				</div>
				<div id="page-ids">
					<input type="email" name="email" placeholder="EMAIL" />
				</div>
				<div id="page-login">
					<input type="button" name="login" value="RESET PASSWORD" onclick="window.location.replace('/');" />
				</div>
				<div id="page-register">
					Have an account ? <a href="/">Login here</a>
				</div>
			</div>
		</div>
	</body>
</html>
