<!DOCTYPE html>
<html>
	<head>
		<title>Fitletics</title>
		<link rel="stylesheet" href="css/login.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body>
		<div id="page">
			<div id="page-content">
				<div id="page-logo">
					<span class="fa fa-fw fa-circle-o-notch"></span>
				</div>
				<form action="/api/user/login" method="post">
					<div id="page-ids">
						<input type="email" name="email" placeholder="EMAIL" />
						<input type="password" name="password" placeholder="PASSWORD" />
					</div>
					<div id="page-login">
						<input type="submit" name="login" value="LOGIN" />
					</div>
				</form>
				<div id="page-register">
					Don't have an account ? <a href="/register">Register here</a>
				</div>
			</div>
		</div>
	</body>
</html>
