/*
** Global
*/

html {
  background: #151515;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

select, button, textarea, input {
  font-family: 'Open Sans';
  font-size: 15px;
}

/*
** Backgrounds
*/

.bg-lightbrown {
  background: #292929;
}

.bg-blue {
  background: #3B7FF1;
}

/*
** Text alignment
*/

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}
