#index {
  width: 100%;
}

#index .container {
  padding: 15px;
}

#index .logo {
  margin-bottom: 100px;
  text-align: center;
}

#index .logo img {
  border-radius: 999px;
  width: 150px;
}

#index .signin button {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 20px 0px;
  border: none;
  color: white;
  outline: none;
  background: #292929;
}

#index .signup button {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 20px 0px;
  border: none;
  color: white;
  outline: none;
  background: none;
}


#notfound {
  text-align: center;
}

#notfound .title {
  font-size: 70px;
  color: #3B7FF1;
  margin-bottom: 15px;
}

#notfound .context {
  font-size: 17px;
  color: white;
}
